<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Taxi_Website</title>
	<!--Fonts-->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<!--Bootstrap-->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<!--Font-awesome-->
	<link rel="stylesheet" href="assets/css/fontawesome.min.css">
	<!--Custom css-->
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
	<!--Header area starts-->
	<header class="_header_taxi_wrapper">
		<!--Nav-->
		<nav class="navbar navbar-expand-lg navbar-light bg-light taxi_navbar fixed-top">
			<div class="container">
				<div class="_logo_wrap">
					<a class="_logo_link" href="#0">
						<img src="assets/images/logo.png" alt="Logo" class="taxi_nav_logo"> <span>CAB</span>
					</a>
				</div>
				<button class="navbar-toggler _toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto mb-2 mb-lg-0 _taxi_nav_list">
						<li class="nav-item _xynos_payment_list_item"> <a class="nav-link _active _taxi_nav_link" aria-current="page" href="index.html">Home</a>
						</li>
						<li class="nav-item _xynos_payment_list_item"> <a class="nav-link _taxi_nav_link _link" href="about.html" tabindex="-1" aria-disabled="true">About Us</a>
						</li>
						<li class="nav-item _xynos_payment_list_item"> <a class="nav-link _taxi_nav_link" href="service.html" tabindex="-1" aria-disabled="true">Services</a>
						</li>
						<li class="nav-item _xynos_payment_list_item"> <a class="nav-link _taxi_nav_link" href="blog.html" tabindex="-1" aria-disabled="true">Blog</a>
						</li>
						<li class="nav-item _xynos_payment_list_item"> <a class="nav-link _taxi_nav_link" href="contact.html" tabindex="-1" aria-disabled="true">Contact Us</a>
						</li>
					</ul>
					<ul class="_sign_btn_list">
						<li class="_search_btn_list_item"><a class="_default_btn" href="#0">Book Online</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!--Nav End-->
        <div class="_header_about_wrapper">
            <div class="_header_about_wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="_header_about_content">
                                <h1>Contact Us</h1>
                                <ul class="breadcrumb-menu list-style">
                                    <li><a href="index.html">Home</a></li>
                                    <li>/</li>
                                    <li class="list">Contact</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		</div>
	</header>
	<!--Header area end-->
    <section class="contact-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="comp-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8385385572983!2d144.95358331584498!3d-37.81725074201705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sbd!4v1612419490850!5m2!1sen!2sbd"></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="contact-address-wrap">
                        <h2>Get In Touch</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eaque tempora laborum ipsam perspiciatis beatae ex in tempore, vero architecto placeat earum officiis voluptates quae.</p>
                        <div class="contact-item-wrap mb-30">
                            <div class="contact-item">
                    <span> <i class="fas fa-map-marker-alt"></i></span>
                                <p>123 Royal St, Western Road,USA.</p>
                            </div>
                            <div class="contact-item">
                    <span><i class="fas fa-envelope-open"></i></span>
                                <a href="mailto:hello@talon.com">hello@talon.com</a>
                            </div>
                            <div class="contact-item">
                                <span><i class="fas fa-phone-volume"></i></span>
                                <a href="tel:15143214567">+1 (514) 321-4567</a>
                            </div>
                        </div>
                        <h5>Follow Us On:</h5>
                        <ul class="social-profile style3 list-style">
                            <li><a target="_blank" href="https://facebook.com"><i class="fab fa-facebook-square"></i> </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://linkedin.com"> <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://twitter.com"> <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://instagram.com"> <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-6">
                    <div class="contact-form">
                        <h3 class="contact-form-title">Send Us A Message </h3>
                        <form class="form-wrap bv-form" action="php/form-process.php" method="post" id="contact_form" novalidate="novalidate">
                            <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                            <div id="message" class="alert alert-danger alert-dismissible fade"></div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group has-feedback">
                                        <input id="name" name="name" type="text" placeholder="Your  Full Name*" required="" data-bv-field="name"><i class="form-control-feedback bv-no-label" data-bv-icon-for="name" style="display: none;"></i>
                                        <small class="help-block" data-bv-validator="stringLength" data-bv-for="name" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small><small class="help-block" data-bv-validator="notEmpty" data-bv-for="name" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter your Full Name</small>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group has-feedback">
                                        <input id="email" name="email" type="email" placeholder="Email Address*" required="" data-bv-field="email"><i class="form-control-feedback bv-no-label" data-bv-icon-for="email" style="display: none;"></i>
                                        <small class="help-block" data-bv-validator="notEmpty" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter your email address</small><small class="help-block" data-bv-validator="emailAddress" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a valid email address</small>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group has-feedback">
                                        <input id="phone" name="phone" type="number" placeholder="Phone Number" data-bv-field="phone"><i class="form-control-feedback bv-no-label" data-bv-icon-for="phone" style="display: none;"></i>
                                        <small class="help-block" data-bv-validator="integer" data-bv-for="phone" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a valid number</small>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="subj" name="subj" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group v1 has-feedback">
                                        <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Your Messages.." data-bv-field="comment"></textarea><i class="form-control-feedback bv-no-label" data-bv-icon-for="comment" style="display: none;"></i>
                                        <small class="help-block" data-bv-validator="stringLength" data-bv-for="comment" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter at least 10 characters and no more than 200</small><small class="help-block" data-bv-validator="notEmpty" data-bv-for="comment" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a description</small>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="checkbox style2">
                                        <input type="checkbox" id="test_1">
                                        <label for="test_1">I have accept the <a class="link style2" href="terms-conditions.html">terms &amp; conditions</a>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6 mt-25">
                                    <button class="_header_taxi_btn">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="_footer_taxi_wrapper">
        <div class="_footer_taxi_wrap">
            <div class="container">
                <div class="_footer_taxi_top">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                            <div class="_footer_taxi_logo_wrap">
                                <div class="_footer_taxi_logo">
                                    <img src="assets/images/logo.png" alt="Logo" class="taxi_nav_logo"> <span>CAB</span>
                                </div>
                                <div class="_footer_taxi_content_logo">
                                    <p class="_footer_taxi_content_logo_txt">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                            <div class="_footer_taxiy_content_wrap">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                        <div class="_footer_taxi_content">
                                            <h4 class="_footer_taxi_content_title">Company</h4>
                                            <div class="_footer_taxi_content_list">
                                                <ul class="_footer_taxi_list">
                                                    <li class="_footer_taxiy_list_item">
                                                        <a href="#0" class="_footer_taxi_list_link">About Us</a>
                                                    </li>
                                                    <li class="_footer_taxi_list_item">
                                                        <a href="#0" class="_footer_taxi_list_link">Blog</a>
                                                    </li>
                                                    <li class="_footer_taxi_list_item">
                                                        <a href="#0" class="_footer_taxi_list_link">All Products</a>
                                                    </li>
                                                    <li class="_footer_taxi_list_item">
                                                        <a href="#0" class="_footer_taxi_list_link">Locations Map</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                        <div class="_footer_taxi_content">
                                            <h4 class="_footer_taxi_content_title">Contact</h4>
                                            <div class="_footer_taxi_content_list">
                                                <ul class="_footer_taxi_list">
                                                    <li class="_footer_taxiy_list_item">
                                                        <a href="#0" class="_footer_taxi_list_link"><i class="far fa-envelope"></i>cabinfo@gmail.com</a>
                                                    </li>
                                                    <li class="_footer_taxi_list_item">
                                                        <a href="#0" class="_footer_taxi_list_link"><i class="fas fa-phone-volume"></i>+447539494999</a>
                                                    </li>
                                                    <li class="_footer_taxi_list_item">
                                                        <a href="#0" class="_footer_taxi_list_link"><i class="fas fa-map-marker-alt"></i>550 Mill Pond Ave. Arlington</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                        <div class="_footer_taxi_content">
                                            <h4 class="_footer_taxi_content_title">Company</h4>
                                            <div class="_footer_taxi_content_list">
                                                <ul class="_footer_taxi_list">
                                                    <li class="_footer_taxiy_list_item">
                                                        <a href="#0" class="_footer_taxi_list_link">About Us</a>
                                                    </li>
                                                    <li class="_footer_taxi_list_item">
                                                        <a href="#0" class="_footer_taxi_list_link">Blog</a>
                                                    </li>
                                                    <li class="_footer_taxi_list_item">
                                                        <a href="#0" class="_footer_taxi_list_link">All Products</a>
                                                    </li>
                                                    <li class="_footer_taxi_list_item">
                                                        <a href="#0" class="_footer_taxi_list_link">Locations Map</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_footer_grover_grocery_bottom">
                    <hr class="_footer_divider">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="_footer_grover_grocery_copyright">
                                <p class="_footer_grover_grocery_copyright_txt">All Rights Reserved @ CAB 2021</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="_footer_grover_grocery_condition">
                                <p class="_footer_grover_grocery_condition_txt">
                                    <a href="" class="_footer_grover_grocery_condition_link">
                                        Terms &amp; Conditions
                                    </a>
                                </p>
                                <p class="_footer_grover_grocery_condition_txt">
                                    <a href="" class="_footer_grover_grocery_condition_link">
                                        Privacy &amp; Policy
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	<!--Js-->
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script SRC="assets/js/jquery.min.js"></script>
</body>

</html>