body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #c0c0c0;
}

body::-webkit-scrollbar-thumb {
  background-color: #0b1b35;
  border-radius: 40px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

._header_taxi_btn {
  border: 1px solid #08a87c;
  background: #08a87c;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  padding: 16px 30px;
  border-radius: 8px;
}

._header_taxi_btn:hover {
  background: #21201f;
  border: 1px solid #21201f;
  color: #fff;
}

.taxi_navbar {
  padding: 16px 0px;
  background: #ffffff !important;
}

.taxi_navbar .taxi_nav_logo {
  max-width: 70px;
}

.taxi_navbar ._taxi_nav_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #9398a2 !important;
  letter-spacing: 0.5px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  font-family: 'Poppins', sans-serif;
}

.taxi_navbar ._taxi_nav_link:hover {
  color: #212537 !important;
}

.taxi_navbar ._active {
  color: #212537 !important;
}

.taxi_navbar ._logo_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.taxi_navbar ._logo_link span {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #fb9333;
}

.taxi_navbar ._default_btn {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #fb9333;
  background: #fb9333;
  padding: 16px 16px;
  border-radius: 8px;
}

.taxi_navbar ._default_btn:hover {
  background: #21201f;
  border: 1px solid #21201f;
  color: #fff;
}

._header_taxi_wrapper_area {
  padding: 100px 0px;
  background: #ffffff;
  position: relative;
  z-index: 1;
}

._header_taxi_wrapper_area .effect {
  background: #0b1b35;
  opacity: 0.3;
  -webkit-filter: blur(160px);
  filter: blur(160px);
  position: absolute;
  width: 420px;
  height: 300px;
  top: 168px;
  left: 0;
  z-index: -1;
}

._header_taxi_wrapper_area .shape {
  position: absolute;
  right: 46px;
  bottom: 328px;
}

._header_taxi_wrapper_area ._taxi_wrap {
  margin: 35px 0px 0px 0px;
}

._header_taxi_wrapper_area ._header_taxi_title {
  font-weight: 700;
  color: #fb9333;
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: -0.01em;
}

._header_taxi_wrapper_area ._header_taxi_title1 {
  font-weight: 700;
  color: #0b1b35;
  font-size: 50px;
  letter-spacing: -0.01em;
  margin-bottom: 30px;
}

._header_taxi_wrapper_area ._header_taxi_text {
  font-size: 16px;
  font-weight: 500;
  color: #9ea0a7;
}

._header_taxi_wrapper_area ._header_taxi_grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0px 0px 0px;
}

._header_taxi_wrapper_area ._header_taxi_play_btn {
  background: #fff;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 12px 16px 8px 16px;
  border-radius: 100%;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

._header_taxi_wrapper_area ._header_taxi_play_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 4px solid #0b1b35;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

._header_taxi_wrapper_area ._header_taxi_play_btn a {
  position: relative;
  left: 3px;
  top: -2px;
}

._header_taxi_wrapper_area ._header_taxi_play_btn a i {
  color: #0b1b35;
  font-size: 12px;
}

._header_taxi_wrapper_area ._btn_txt {
  font-size: 16px;
  color: #9398a2;
  letter-spacing: 0.5px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

._booking_taxi_wrapper {
  padding: 100px 0px 50px 0px;
  background: #eeeee8;
}

._booking_taxi_wrapper ._booking_taxi_icon_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0;
}

._booking_taxi_wrapper ._booking_taxi_icon {
  margin-right: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px 10px 10px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #fff;
}

._booking_taxi_wrapper ._booking_taxi_icon i {
  color: #fb9333;
}

._booking_taxi_wrapper ._header_taxi_control {
  padding: 12px;
  border: 1px solid transparent;
}

._booking_taxi_wrapper ._booking_taxi_icon_txt h4 {
  color: #0b1b35;
  letter-spacing: -0.01em;
  font-size: 18px;
  font-weight: 700;
}

._booking_taxi_wrapper ._booking_taxi_btn_grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 52px 0px 0px 0px;
}

._offer_taxi_wrapper {
  padding: 100px 0px 50px 0px;
  background: #f5f5f2;
}

._offer_taxi_wrapper ._offer_taxi_inner {
  text-align: center;
}

._offer_taxi_wrapper ._header_taxi_title {
  font-weight: 700;
  color: #fb9333;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

._offer_taxi_wrapper ._offer_taxi_title1 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0b1b35;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}

._offer_taxi_wrapper ._offer_taxi_txt {
  font-weight: 400;
  font-size: 16px;
  color: #363533;
  line-height: 28px;
  max-width: 50%;
  margin: 0 auto;
}

._offer_taxi_wrapper ._offer_taxi_box {
  margin-top: 30px;
  background: #fff;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px;
  border-radius: 24px;
  cursor: pointer;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

._offer_taxi_wrapper ._offer_taxi_box:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

._offer_taxi_wrapper ._offer_taxi_box:hover ._offer_taxi_icon1 {
  color: #08a87c;
}

._offer_taxi_wrapper ._offer_taxi_icon {
  padding: 5px;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

._offer_taxi_wrapper ._offer_taxi_icon1 {
  font-size: 40px;
  color: #fb9333;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

._offer_taxi_wrapper ._offer_taxi_content {
  margin-top: 20px;
}

._offer_taxi_wrapper ._offer_taxi_box_title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: #2e2e2e;
  margin: 0 0 15px 0;
}

._offer_taxi_wrapper ._offer_taxi_txt1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  color: #676767;
  margin-top: 10px;
}

._about_taxi_wrapper {
  padding: 50px 0px 0px 0px;
  background: #f5f5f2;
  position: relative;
  z-index: 1;
}

._about_taxi_wrapper .round {
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#08a87c59), to(#08a87c));
  background: linear-gradient(to right, #08a87c59, #08a87c);
  border-radius: 50%;
  left: 66px;
  width: 12%;
  height: 37%;
  z-index: -1;
  bottom: 10px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-animation: border-transform-default-two 10s linear infinite alternate forwards;
          animation: border-transform-default-two 10s linear infinite alternate forwards;
}

._about_taxi_wrapper ._about_img {
  border-radius: 50px;
  max-width: 428px;
  margin: 0 auto;
}

._about_taxi_wrapper ._effect_one {
  background: #BAD83F;
  opacity: 0.3;
  -webkit-filter: blur(160px);
          filter: blur(160px);
  position: absolute;
  width: 420px;
  height: 300px;
  top: 168px;
  left: 0;
  z-index: -1;
}

._about_taxi_wrapper ._header_taxi_title {
  font-weight: 700;
  color: #fb9333;
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: -0.01em;
}

._about_taxi_wrapper ._header_taxi_title1 {
  font-weight: 700;
  color: #0b1b35;
  font-size: 44px;
  letter-spacing: -0.01em;
  margin-bottom: 30px;
}

._about_taxi_wrapper ._about_taxi_txt {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #676767;
  margin-bottom: 20px;
}

._about_taxi_wrapper ._about_taxi_img {
  max-width: 86%;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 0 62px 0 62px;
}

._about_taxi_wrapper ._about_taxi_btn_grp {
  margin-top: 44px;
}

._service_taxi_wrapper {
  padding: 100px 0px 50px 0px;
  background: #f5f5f2;
}

._service_taxi_wrapper ._service_taxi_inner {
  text-align: center;
}

._service_taxi_wrapper ._header_taxi_title {
  font-weight: 700;
  color: #fb9333;
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: -0.01em;
}

._service_taxi_wrapper ._header_taxi_title1 {
  font-weight: 700;
  color: #0b1b35;
  font-size: 44px;
  letter-spacing: -0.01em;
  margin-bottom: 30px;
}

._service_taxi_wrapper ._service_taxi_txt {
  font-weight: 400;
  font-size: 16px;
  color: #363533;
  line-height: 28px;
  max-width: 50%;
  margin: 0 auto;
}

._service_taxi_wrapper ._service_taxi_box {
  margin-top: 30px;
  background: #fff;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 36px;
  border-radius: 12px;
  cursor: pointer;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
  position: relative;
}

._service_taxi_wrapper ._service_taxi_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 18%;
  border: 2px solid #08a87c;
  border-radius: 20%;
  background: #08a87c;
}

._service_taxi_wrapper ._service_taxi_box h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: #2e2e2e;
  margin: 0 0 15px 0;
}

._service_taxi_wrapper ._service_taxi_box p {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #676767;
  margin-top: 4px;
  margin-bottom: 30px;
}

._service_taxi_wrapper ._service_taxi_box a {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #fb9333;
}

._feature_taxi_wrapper {
  padding: 50px 0px 50px 0px;
  background: #f5f5f2;
}

._feature_taxi_wrapper ._feature_taxi_content {
  text-align: center;
}

._feature_taxi_wrapper ._header_taxi_title {
  font-weight: 700;
  color: #fb9333;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

._feature_taxi_wrapper ._header_taxi_title1 {
  font-weight: 700;
  color: #0b1b35;
  font-size: 44px;
  letter-spacing: -0.01em;
  margin-bottom: 40px;
}

._feature_taxi_wrapper ._feature_taxi_inner_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 96px;
}

._feature_taxi_wrapper ._feature_taxi_icon {
  margin-right: 20px;
}

._feature_taxi_wrapper ._feature_taxi_icon {
  background: #fff;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50%;
  width: 72px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._feature_taxi_wrapper ._feature_taxi_icon1 {
  color: #fb9333;
  font-size: 20px;
}

._feature_taxi_wrapper h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: #2e2e2e;
}

._feature_taxi_wrapper p {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #676767;
  margin-top: 4px;
}

._reward_taxi_wrapper {
  padding: 50px 0px 50px 0px;
  background: #fefefe;
  position: relative;
}

._reward_taxi_wrapper ._woman {
  max-width: 500px;
}

._reward_taxi_wrapper ._header_taxi_title {
  font-weight: 700;
  color: #fb9333;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

._reward_taxi_wrapper ._header_taxi_title1 {
  font-weight: 700;
  color: #0b1b35;
  font-size: 44px;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}

._reward_taxi_wrapper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #676767;
  margin-bottom: 40px;
}

._blog_taxi_wrapper {
  padding: 50px 0px 232px 0px;
  background: #f5f5f2;
}

._blog_taxi_wrapper ._blog_taxi_content_box_inner {
  position: relative;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

._blog_taxi_wrapper ._blog_taxi_content_box_inner:hover ._blog_taxi_content_inner {
  left: 0;
  max-width: 349px;
}

._blog_taxi_wrapper ._blog_taxi_content_inner {
  background: #08a87c;
  padding: 20px;
  position: absolute;
  bottom: -186px;
  left: 16px;
  max-width: 334px;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

._blog_taxi_wrapper ._blog_taxi_content {
  text-align: center;
}

._blog_taxi_wrapper ._header_taxi_title {
  font-weight: 700;
  color: #fb9333;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

._blog_taxi_wrapper ._header_taxi_title1 {
  font-weight: 700;
  color: #0b1b35;
  font-size: 44px;
  letter-spacing: -0.01em;
  margin-bottom: 40px;
}

._blog_taxi_wrapper ._blog {
  max-width: 350px;
  border: 1px solid transparent;
  border-radius: 8px;
}

._blog_taxi_wrapper ._blog_taxi_image {
  margin-bottom: 20px;
}

._blog_taxi_wrapper h4 {
  margin: 0 0 15px 0;
}

._blog_taxi_wrapper h4 a {
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: #fff;
}

._blog_taxi_wrapper p {
  font-weight: 500;
  font-size: 13px;
  line-height: 25px;
  color: #fff;
  margin-top: 4px;
  margin-bottom: 30px;
}

._blog_taxi_wrapper ._btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
}

._blog_taxi_wrapper ._btn i {
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  top: 2px;
}

._footer_taxi_wrapper {
  padding: 100px 0px 0px 0px;
}

._footer_taxi_wrapper i {
  color: #fb9333;
  margin-right: 10px;
}

._footer_taxi_wrapper .taxi_nav_logo {
  max-width: 70px;
}

._footer_taxi_wrapper ._footer_taxi_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._footer_taxi_wrapper ._footer_taxi_logo span {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #fb9333;
}

._footer_taxi_wrapper ._footer_taxi_content_logo_txt {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  color: #363533;
  line-height: 28px;
}

._footer_taxi_wrapper ._footer_taxi_content {
  margin: 30px 0 10px 0;
}

._footer_taxi_wrapper ._footer_taxi_content_title {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #2e2e2e;
}

._footer_taxi_wrapper ._footer_grover_grocery_content_list {
  margin: 30px 0 10px 0;
}

._footer_taxi_wrapper ._footer_taxi_content_list {
  margin: 30px 0 10px 0;
}

._footer_taxi_wrapper ._footer_taxi_list_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;
  color: #676767 !important;
}

._footer_taxi_wrapper ._footer_grover_grocery_bottom {
  padding: 0 0 30px 0;
}

._footer_taxi_wrapper ._footer_grover_grocery_bottom ._footer_grover_grocery_copyright_txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #8C8C8C;
}

._footer_taxi_wrapper ._footer_grover_grocery_bottom ._footer_grover_grocery_condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

._footer_taxi_wrapper ._footer_grover_grocery_bottom ._footer_grover_grocery_condition_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #747474 !important;
  margin: 0 10px;
  display: block;
}

._header_about_wrapper {
  padding: 100px 0px 125px 0px;
  background: url(../images/breadcrumb-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

._header_about_wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: -1;
}

._header_about_wrapper ._header_about_content {
  text-align: center;
  margin: 50px 0px 0px 0px;
}

._header_about_wrapper ._header_about_content h1 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 30px 0;
}

._header_about_wrapper ._header_about_content .breadcrumb-menu.list-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._header_about_wrapper ._header_about_content .breadcrumb-menu.list-style .list {
  margin-left: 8px;
}

._header_about_wrapper ._header_about_content .breadcrumb-menu.list-style li {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

._header_about_wrapper ._header_about_content .breadcrumb-menu.list-style li a {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  margin: 0 12px 0 0;
}

._about_taxi_wrapper_area {
  padding: 100px 0px 100px 0px;
  position: relative;
}

._about_taxi_wrapper_area .section_subtext {
  color: #01040F;
  -webkit-text-stroke: 1px #999;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 200px;
  opacity: 0.14;
}

._about_taxi_wrapper_area .style1 {
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: -1;
}

._about_taxi_wrapper_area .about-shape-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

._about_taxi_wrapper_area .about-img-wrap {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._about_taxi_wrapper_area .about-img-one {
  height: 500px;
  width: 45%;
  border-radius: 15px;
  margin-top: 50px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ddd;
  background: url("../images/about-bg-1.jpg");
}

._about_taxi_wrapper_area .about-img-two {
  height: 500px;
  width: 45%;
  border-radius: 15px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ddd;
  background: url("../images/about-bg-2.jpg");
}

._about_taxi_wrapper_area .experience-box {
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  text-align: center;
  -webkit-animation: float 3000ms infinite ease-in-out;
  animation: float 3000ms infinite ease-in-out;
  background: -webkit-gradient(linear, left top, right top, from(#ff610a), color-stop(35%, #fa4a17), to(#f01336));
  background: linear-gradient(90deg, #ff610a 0%, #fa4a17 35%, #f01336 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._about_taxi_wrapper_area .experience-box h4 {
  color: #fff;
  margin: 0;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.4;
}

._about_taxi_wrapper_area .experience-box span {
  display: block;
  font-size: 32px;
}

._about_taxi_wrapper_area ._about_content_area h5 {
  font-weight: 700;
  color: #fb9333;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

._about_taxi_wrapper_area ._about_content_area h2 {
  font-size: 32px;
  line-height: 1.6;
  font-weight: 700;
  text-transform: uppercase;
  color: #0b1b35;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}

._about_taxi_wrapper_area ._about_content_area h6 {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
  color: #fb9333;
  line-height: 1.6;
}

._about_taxi_wrapper_area ._about_content_area p {
  font-size: 16px;
  font-weight: 500;
  color: #9ea0a7;
}

.counter-wrap {
  padding: 100px 0px 100px 0px;
  background: #f5f5f2;
}

.counter-wrap .counter-item {
  background-color: #fff;
  padding: 40px 25px;
  text-align: center;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.counter-wrap .counter-item i {
  color: #FF610A;
  font-size: 55px;
  margin: 0 0 10px;
}

.counter-wrap .counter-value {
  color: #01040F;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  margin: 10px 0 5px;
}

.counter-wrap p {
  color: #FF610A;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

._blog_details_wrapper {
  padding: 100px 0px 100px 0px;
  background: #f5f5f2;
}

._blog_details_wrapper .search-box {
  background: transparent;
  padding: 0;
  border: none;
  margin: 0 0 30px;
  border-radius: 5px;
  position: relative;
}

._blog_details_wrapper .search-box input {
  width: 100%;
  height: 58px;
  background: #fff;
  color: #01040F;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 60px 10px 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  outline: none !important;
}

._blog_details_wrapper .search-box button {
  position: absolute;
  top: 0px;
  right: 26px;
  width: 50px;
  height: 100%;
  border: none;
  background: transparent;
  outline: none !important;
}

._blog_details_wrapper .search-box i {
  color: #F80E0E;
  font-size: 18px;
  position: relative;
  top: 2px;
}

._blog_details_wrapper .box {
  margin: 0 0 30px;
  background-color: #fff;
  padding: 22px 25px 25px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

._blog_details_wrapper .box h4 {
  margin: 0 0 20px;
  padding-bottom: 15px;
  font-size: 22px;
  font-weight: 600;
  position: relative;
  line-height: 1;
  position: relative;
  color: #01040F;
}

._blog_details_wrapper .box h4::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 55px;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#ff610a), color-stop(35%, #fa4a17), to(#f01336));
  background: linear-gradient(90deg, #ff610a 0%, #fa4a17 35%, #f01336 100%);
}

._blog_details_wrapper .category-box {
  margin-top: -5px;
}

._blog_details_wrapper .category-box li {
  display: block;
  position: relative;
}

._blog_details_wrapper .category-box li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  position: relative;
  padding: 12px 0 12px 0;
  border-bottom: 1px solid #eee;
  color: #01040F;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

._blog_details_wrapper .category-box li a span {
  display: block;
  text-align: right;
  float: right;
}

._blog_details_wrapper .category-box li:first-child a {
  padding-top: 0;
}

._blog_details_wrapper .tag-list {
  margin-top: -12px;
}

._blog_details_wrapper .tag-list li {
  display: inline-block;
  margin: 12px 8px 0px 0px;
}

._blog_details_wrapper .tag-list li a {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  padding: 8px 14px;
  color: #01040F;
  background: #fff;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

._blog_details_wrapper .post-img {
  margin: 0 0 25px;
}

._blog_details_wrapper .post-meta {
  margin: 0 0 13px;
}

._blog_details_wrapper .post-meta li {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  margin-right: 20px;
  margin-bottom: 5px;
  color: #01040F;
}

._blog_details_wrapper .post-meta li a {
  color: #01040F;
  font-size: 16px;
  font-weight: 400;
}

._blog_details_wrapper .post-meta li i {
  position: absolute;
  top: 4px;
  left: 0;
  font-size: 18px;
  color: #FF610A;
}

._blog_details_wrapper .post-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  margin: 0 0 20px;
}

._blog_details_wrapper p {
  font-size: 16px;
  line-height: 26px;
  color: #4E4E4E;
  font-weight: 400;
}

._blog_details_wrapper .wp-block-quote {
  position: relative;
  padding: 35px 35px 38px;
  background-color: #F8F5FE;
  text-align: left;
  margin: 30px 0 30px;
}

._blog_details_wrapper .wp-block-quote p {
  font-size: 18px;
  color: #01040F;
  font-style: italic;
  font-weight: 600;
  margin: 0;
}

._blog_details_wrapper .content-feature-list {
  margin: 20px 0 25px 0;
}

._blog_details_wrapper .content-feature-list li {
  position: relative;
  padding-left: 18px;
  margin: 0 0 10px;
  font-weight: 600;
}

._blog_details_wrapper .content-feature-list li::before {
  position: absolute;
  top: 10px;
  left: 0;
  content: "";
  background: #FF610A;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.contact-wrap {
  padding: 100px 0px 100px 0px;
  background: #f5f5f2;
}

.contact-wrap .comp-map {
  position: relative;
  height: 400px;
}

.contact-wrap .comp-map iframe {
  width: 100%;
  height: 100%;
}

.contact-wrap .contact-address-wrap {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 25px;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

.contact-wrap .contact-address-wrap h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.1;
  color: #01040F;
  margin: 0 0 10px;
}

.contact-wrap .contact-address-wrap p {
  margin: 0 0 25px;
  font-size: 16px;
  line-height: 26px;
  color: #4E4E4E;
}

.contact-wrap .contact-item {
  position: relative;
  padding-left: 40px;
  margin: 0 0 20px;
}

.contact-wrap .contact-item span {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #eee;
  text-align: center;
}

.contact-wrap .contact-item p {
  margin: 0;
  font-size: 16px;
  color: #01040F;
  font-weight: 400;
}

.contact-wrap .contact-item i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8px 0px 0px 0px;
  color: #fb9333;
}

.contact-wrap .contact-item a {
  font-size: 16px;
  color: #01040F;
  font-weight: 400;
}

.contact-wrap h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.4;
  font-size: 20px;
  margin-top: 30px;
}

.contact-wrap .social-profile.style3.list-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-wrap .social-profile.style3.list-style li {
  margin-right: 20px;
  margin-top: 20px;
}

.contact-wrap .social-profile.style3.list-style li a {
  text-align: center;
  line-height: 26px;
}

.contact-wrap .social-profile.style3.list-style li a i {
  font-size: 16px;
  color: #F80E0E;
}

.contact-wrap .contact-form {
  margin-top: 50px;
}

.contact-wrap .contact-form h3 {
  font-size: 22px;
  line-height: 1;
  margin: 0 0 25px;
  background-color: #01040F;
  border-radius: 5px;
  padding: 20px 20px 20px;
  color: #fff;
}

.contact-wrap .contact-form .form-group {
  margin: 0 0 25px;
}

.contact-wrap .contact-form .form-group input {
  height: 50px;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px 15px 10px 20px;
  outline: none !important;
}

.contact-wrap .contact-form .form-group textarea {
  height: 138px;
  resize: none;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px 15px 10px 20px;
  outline: none !important;
}

.contact-wrap .checkbox {
  margin-bottom: 30px;
}

.contact-wrap .checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
  outline: none !important;
}

.contact-wrap .checkbox label {
  position: relative;
  cursor: pointer;
  padding-left: 20px;
}

.contact-wrap .checkbox label::before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #FF610A;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 15px;
}

.contact-wrap .link {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.contact-wrap .link.style2 {
  color: #FF610A;
}

.contact-wrap ._header_taxi_btn {
  border: 1px solid #08a87c;
  background: #08a87c;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  padding: 16px 30px;
  border-radius: 8px;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@media (max-width: 1199px) {
  ._feature_taxi_wrapper ._feature_taxi_inner_box {
    margin-bottom: 60px;
  }
  ._feature_taxi_wrapper ._feature_taxi_icon {
    height: 46px;
  }
  ._offer_taxi_wrapper ._offer_taxi_box_title {
    font-size: 16px;
  }
  ._offer_taxi_wrapper ._offer_taxi_icon {
    width: 100%;
  }
  ._about_taxi_wrapper ._header_taxi_title1 {
    font-size: 34px;
  }
  ._service_taxi_wrapper ._header_taxi_title1 {
    font-size: 34px;
  }
}

@media (max-width: 991px) {
  ._blog_taxi_wrapper {
    padding: 50px 0px 100px 0px;
  }
  ._blog_taxi_wrapper ._blog_taxi_content_box_inner {
    margin-bottom: 218px;
  }
  ._about_taxi_wrapper .round {
    display: none;
  }
  ._booking_taxi_wrapper ._booking_taxi_icon_txt h4 {
    font-size: 13px;
  }
  ._about_content_area {
    margin-top: 30px;
  }
  ._feature_taxi_image {
    margin-bottom: 40px;
  }
  ._blog_taxi_content_box_inner {
    margin-bottom: 30px;
  }
  ._reward_taxi_wrapper ._header_taxi_title1 {
    font-size: 34px;
  }
  ._reward_taxi_image {
    margin-bottom: 30px;
  }
  ._feature_taxi_wrapper ._feature_taxi_icon {
    height: 54px;
  }
  ._service_taxi_wrapper ._service_taxi_txt {
    max-width: 80%;
  }
  ._offer_taxi_wrapper ._offer_taxi_icon {
    width: 44%;
  }
  ._about_taxi_wrapper ._about_taxi_txt {
    font-size: 14px;
  }
  ._about_taxi_image {
    margin-bottom: 30px;
  }
  ._about_taxi_wrapper ._about_taxi_img {
    max-width: 80%;
    margin: initial;
  }
  ._box_taxi_wrapper ._box_taxi_inner {
    margin-bottom: 20px;
    height: auto;
  }
  ._header_taxi_wrapper_area ._header_taxi_control {
    width: 100%;
  }
  ._header_taxi_wrapper_area ._header_taxi_icon {
    left: 5%;
  }
  ._footer_taxi_wrapper ._footer_grover_grocery_bottom ._footer_grover_grocery_copyright_txt {
    text-align: center;
  }
  ._footer_taxi_wrapper ._footer_grover_grocery_bottom ._footer_grover_grocery_condition {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  ._blog_taxi_wrapper ._blog_taxi_content_inner {
    max-width: 100%;
  }
  ._blog_taxi_wrapper ._blog {
    max-width: 100%;
  }
  ._feature_taxi_wrapper ._feature_taxi_icon {
    height: 100%;
    width: 12%;
    padding: 20px;
  }
  ._blog_taxi_wrapper h4 a {
    font-size: 18px;
  }
  ._header_taxi_input {
    margin-top: 10px;
  }
  ._service_taxi_wrapper ._service_taxi_box h4 {
    font-size: 16px;
  }
  ._box_taxi_wrapper h4 {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  ._booking_taxi_wrapper ._header_taxi_control {
    margin-bottom: 20px;
  }
  ._header_taxi_wrapper_area .shape {
    display: none;
  }
  ._header_taxi_image {
    margin-top: 20px;
  }
  ._header_taxi_btn {
    font-size: 10px;
  }
  ._header_taxi_wrapper_area ._header_taxi_grp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  ._header_taxi_wrapper_area .effect {
    display: none;
  }
  ._blog_details_wrapper .post-title {
    font-size: 20px;
  }
  ._about_taxi_wrapper_area ._about_content_area h6 {
    font-size: 17px;
  }
  ._about_taxi_wrapper_area ._about_content_area h2 {
    font-size: 22px;
  }
  ._feature_taxi_wrapper ._feature_taxi_icon {
    height: 100%;
    width: auto;
    padding: 12px;
  }
  ._reward_taxi_content {
    text-align: center;
  }
  ._reward_taxi_wrapper ._woman {
    margin: 0 auto;
  }
  ._about_taxi_wrapper ._about_taxi_img {
    margin: 0 auto;
  }
  ._blog_taxi_wrapper ._blog {
    max-width: 100%;
  }
  ._about_taxi_wrapper ._effect_one {
    display: none;
  }
  ._header_taxi_wrapper_area ._header_taxi_title1 {
    font-size: 28px;
  }
  ._header_taxi_wrapper_area ._header_taxi_text {
    max-width: 100%;
  }
  ._header_taxi_wrapper_area ._header_taxi_icon i {
    display: none;
  }
  ._offer_taxi_wrapper ._offer_taxi_txt {
    max-width: 100%;
  }
  ._about_taxi_image {
    margin-bottom: 20px;
  }
  ._about_taxi_inner {
    text-align: center;
  }
  ._service_taxi_wrapper ._header_taxi_title1 {
    font-size: 28px;
  }
  ._service_taxi_wrapper ._service_taxi_txt {
    max-width: 100%;
  }
  ._service_taxi_box {
    text-align: center;
  }
  ._box_taxi_wrapper p {
    text-align: center;
  }
}

@-webkit-keyframes border-transform-default-two {
  0%,
  to {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  28% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  70% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@keyframes border-transform-default-two {
  0%,
  to {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  28% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  70% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
/*# sourceMappingURL=style.css.map */